POSTGRES_DB=conduit
POSTGRES_USER=conduit_user
POSTGRES_PASSWORD=change_me

DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

CORS_ORIGIN_ALLOW_ALL=false
CORS_ORIGIN_WHITELIST=http://localhost:8282